= content_for :meta_tags do
  - if current_user
    = auto_discovery_link_tag(:atom, dashboard_projects_url(format: :atom, private_token: current_user.private_token), title: "所有活动")

- page_title    "项目"
- header_title  "项目", dashboard_projects_path

= render 'dashboard/projects_head'

- if @last_push
  = render "events/event_last_push", event: @last_push

- if @projects.any?
  = render 'projects'
- else
  = render "zero_authorized_projects"
