- page_title "UI 开发包", "帮助"
- lorem = "《大教堂与市集》（The Cathedral and the Bazaar）是埃里克·斯蒂芬·雷蒙 Eric Steven Raymond 所撰写的软件工程方法论。以 Linux 的核心开发过程以及作者自己主持开发的开放源代码软件──Fetchmail 为讨论案例。文章在 1997 年 5 月 27 日发表，并在 1999 年出版成书。"

.gitlab-ui-dev-kit
  %h1 GitLab UI 开发包
  %p.light
    在浏览器中使用页面检查器查看下面例子中的元素样式和结构。
  %hr
  %ul
    %li
      = link_to '区块', '#blocks'
    %li
      = link_to '列表', '#lists'
    %li
      = link_to '表格', '#tables'
    %li
      = link_to '导航', '#nav'
    %li
      = link_to '按钮', '#buttons'
    %li
      = link_to '面板', '#panels'
    %li
      = link_to '警告', '#alerts'
    %li
      = link_to '表单', '#forms'
    %li
      = link_to '文件', '#file'
    %li
      = link_to 'Markdown', '#markdown'

  %h2#blocks 区块

  %h4
    %code .gray-content-block

  .gray-content-block.middle-block
    %h4 包含内容的普通区块
    = lorem

  .gray-content-block.second-block
    %h4 第二个区块
    = lorem


  %h4
    %code .cover-block
  %br
  .cover-block
    .avatar-holder
      = image_tag avatar_icon('admin@example.com', 90), class: "avatar s90", alt: ''
    .cover-title
      John Smith

    .cover-desc
      = lorem

    .cover-controls
      = link_to '#', class: 'btn btn-gray' do
        = icon('pencil')
      &nbsp;
      = link_to '#', class: 'btn btn-gray' do
        = icon('rss')

  %h2#lists 列表

  %h4
    %code .content-list
  %ul.content-list
    %li
      一个项目
    %li
      一个项目
    %li
      一个项目

  %h4
    %code .well-list
  %ul.well-list
    %li
      一个项目
    %li
      一个项目
    %li
      一个项目

  %h4
    %code .panel .well-list

  .panel.panel-default
    .panel-heading 你的列表
    %ul.well-list
      %li
        一个项目
      %li
        一个项目
      %li
        一个项目

  %h4
    %code .bordered-list
  %ul.bordered-list
    %li
      一个项目
    %li
      一个项目
    %li
      一个项目



  %h2#tables 表格

  .example
    %table.table
      %thead
        %tr
          %th #
          %th 名字
          %th 姓氏
          %th 用户名
      %tbody
        %tr
          %td 1
          %td Mark
          %td Otto
          %td @mdo
        %tr
          %td 2
          %td Jacob
          %td Thornton
          %td @fat
        %tr
          %td 3
          %td Larry
          %td the Bird
          %td @twitter

  %h2#navs 导航条

  %h4
    %code .center-top-menu
  .example
    %ul.center-top-menu
      %li.active
        %a 打开的
      %li
        %a 关闭的

  %h4
    %code .btn-group.btn-group-next
  .example
    %div.btn-group.btn-group-next
      %a.btn.active 打开的
      %a.btn 关闭的


  %h4
    %code .nav.nav-tabs
  .example
    %ul.nav.nav-tabs
      %li.active
        %a 打开的
      %li
        %a 关闭的


  %h2#buttons 按钮

  .example
    %button.btn.btn-default{:type => "button"} 默认
    %button.btn.btn-gray{:type => "button"} 灰色
    %button.btn.btn-primary{:type => "button"} 主要
    %button.btn.btn-success{:type => "button"} 成功
    %button.btn.btn-info{:type => "button"} 信息
    %button.btn.btn-warning{:type => "button"} 警告
    %button.btn.btn-danger{:type => "button"} 危险
    %button.btn.btn-link{:type => "button"} 链接

  %h2#panels 面板

  .row
    .col-md-6
      .panel.panel-success
        .panel-heading 成功
        .panel-body
          = lorem
      .panel.panel-primary
        .panel-heading 主要
        .panel-body
          = lorem
      .panel.panel-info
        .panel-heading 信息
        .panel-body
          = lorem
    .col-md-6
      .panel.panel-warning
        .panel-heading 警告
        .panel-body
          = lorem
      .panel.panel-danger
        .panel-heading 危险
        .panel-body
          = lorem

  %h2#alert 警告

  .row
    .col-md-6
      .alert.alert-success
        = lorem
      .alert.alert-primary
        = lorem
      .alert.alert-info
        = lorem
    .col-md-6
      .alert.alert-warning
        = lorem
      .alert.alert-danger
        = lorem

  %h2#forms 表单

  %h4
    %code form.horizontal-form

  %form.form-horizontal
    .form-group
      %label.col-sm-2.control-label{:for => "inputEmail3"} 电子邮箱
      .col-sm-10
        %input#inputEmail3.form-control{:placeholder => "电子邮箱", :type => "email"}/
    .form-group
      %label.col-sm-2.control-label{:for => "inputPassword3"} 密码
      .col-sm-10
        %input#inputPassword3.form-control{:placeholder => "密码", :type => "password"}/
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          %label
            %input{:type => "checkbox"}/
            记住我
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default{:type => "submit"} 登入

  %h4
    %code form

  %form
    .form-group
      %label{:for => "exampleInputEmail1"} 电子邮箱地址
      %input#exampleInputEmail1.form-control{:placeholder => "输入电子邮箱", :type => "email"}/
    .form-group
      %label{:for => "exampleInputPassword1"} 密码
      %input#exampleInputPassword1.form-control{:placeholder => "密码", :type => "password"}/
    .checkbox
      %label
        %input{:type => "checkbox"}/
        记住我
    %button.btn.btn-default{:type => "submit"} 登入

  %h2#file 文件
  %h4
    %code .file-holder

  - blob = Snippet.new(content: "Wow\nSuch\nFile")
  .example
    .file-holder
      .file-title
        Awesome file
        .file-actions
          .btn-group
            %a.btn 编辑
            %a.btn.btn-danger 删除
      .file-contenta.code
        = render 'shared/file_highlight', blob: blob

  %h2#markdown Markdown
  %h4
    %code .md or .wiki and others

  Markdown rendering has a bit different css and presented in next UI elements:

  %ul
    %li comment
    %li issue, merge request description
    %li wiki page
    %li help page

  You can check how markdown rendered at #{link_to 'Markdown help page', help_page_path("markdown", "markdown")}.
