%ul.center-top-menu
  %li{ class: ("active" unless params[:filter]) }
    = link_to activity_dashboard_path, class: 'shortcuts-activity', data: {placement: 'right'} do
      你的项目
  %li{ class: ("active" if params[:filter] == 'starred') }
    = link_to activity_dashboard_path(filter: 'starred'), data: {placement: 'right'} do
      星标项目
