- page_title "合并请求"
- header_title  "合并请求", merge_requests_dashboard_path(assignee_id: current_user.id)

.project-issuable-filter
  .controls
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "新合并请求"

  = render 'shared/issuable/filter', type: :merge_requests

.gray-content-block.second-block
  列出你能访问到的所有项目的所有合并请求。

.prepend-top-default
  = render 'shared/merge_requests'
