.gray-content-block.top-block
  此信息会显示在个人资料页面上。
  - if current_user.ldap_user?
    部分设置对于 LDAP 账号无效

.prepend-top-default
= form_for @user, url: profile_path, method: :put, html: { multipart: true, class: "edit_user form-horizontal" }, authenticity_token: true do |f|
  -if @user.errors.any?
    %div.alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  .row
    .col-md-7
      .form-group
        = f.label :name, "姓名", class: "control-label"
        .col-sm-10
          = f.text_field :name, class: "form-control", required: true
          %span.help-block 输入其他人能知道的名字。

      .form-group
        = f.label :email, "电子邮箱", class: "control-label"
        .col-sm-10
          - if @user.ldap_user?
            = f.text_field :email, class: "form-control", required: true, readonly: true
            %span.help-block.light
              LDAP 用户的电子邮箱只读
          - else
            - if @user.temp_oauth_email?
              = f.text_field :email, class: "form-control", required: true, value: nil
            - else
              = f.text_field :email, class: "form-control", required: true
            - if @user.unconfirmed_email.present?
              %span.help-block
                请点击确认邮件中的链接继续操作。其已经被发送到
                = succeed "。" do
                  %strong #{@user.unconfirmed_email}
                %p
                = link_to "重发确认邮件", user_confirmation_path(user: { email: @user.unconfirmed_email }), method: :post

            - else
              %span.help-block 如果没有上传头像将使用 gravatar 邮箱头像。
      .form-group
        = f.label :public_email, '公开邮箱', class: "control-label"
        .col-sm-10
          = f.select :public_email, options_for_select(@user.all_emails, selected: @user.public_email), {include_blank: '不显示在个人资料上'}, class: "select2"
          %span.help-block 此电子邮箱将显示在公开的个人资料上。
      .form-group
        = f.label :skype, class: "control-label"
        .col-sm-10= f.text_field :skype, class: "form-control"
      .form-group
        = f.label :linkedin, '领英', class: "control-label"
        .col-sm-10= f.text_field :linkedin, class: "form-control"
      .form-group
        = f.label :twitter, '推特', class: "control-label"
        .col-sm-10= f.text_field :twitter, class: "form-control"
      .form-group
        = f.label :website_url, '网址', class: "control-label"
        .col-sm-10= f.text_field :website_url, class: "form-control"
      .form-group
        = f.label :location, '位置', class: "control-label"
        .col-sm-10= f.text_field :location, class: "form-control"
      .form-group
        = f.label :bio, '简历', class: "control-label"
        .col-sm-10
          = f.text_area :bio, rows: 4, class: "form-control", maxlength: 250
          %span.help-block 使用少于 250 字符的文字描述自己。

    .col-md-5
      .light-well
        = image_tag avatar_icon(@user, 160), alt: '', class: 'avatar s160'

        .clearfix
          .profile-avatar-form-option
            %p.light
              - if @user.avatar?
                在这里修改头像
                - if Gitlab.config.gravatar.enabled
                  %br
                  或者删除当前头像使用 #{link_to Gitlab.config.gravatar.host, "http://" + Gitlab.config.gravatar.host} 头像
              - else
                在这里上传头像
                - if Gitlab.config.gravatar.enabled
                  %br
                  或者在 #{link_to Gitlab.config.gravatar.host, "http://" + Gitlab.config.gravatar.host} 修改头像
            %hr
            %a.choose-btn.btn.btn-sm.js-choose-user-avatar-button
              %i.fa.fa-paperclip
              %span 选择文件...
            &nbsp;
            %span.file_name.js-avatar-filename 文件名...
            = f.file_field :avatar, class: "js-user-avatar-input hidden"
            .light 允许的最大文件大小 200KB。
            - if @user.avatar?
              %hr
              = link_to '删除头像', profile_avatar_path, data: { confirm: "确定要删除头像么？"}, method: :delete, class: "btn btn-remove btn-sm remove-avatar"


  .form-actions
    = f.submit '保存修改', class: "btn btn-success"
    = link_to "取消", user_path(current_user), class: "btn btn-cancel"
