- page_title '两步验证', '账号'

%h2.page-title 两步验证 (2FA)
%p
  请从 iOS 的 App Store 或 Android 的 Google Play 下载谷歌身份验证器 (Google Authenticator) 应用，然后扫描下面的二维码。

  更多可用的信息请参阅此#{link_to('文档', help_page_path('profile', 'two_factor_authentication'))}。

%hr

= form_tag profile_two_factor_auth_path, method: :post, class: 'form-horizontal two-factor-new' do |f|
  - if @error
    .alert.alert-danger
      = @error
  .form-group
    .col-lg-2.col-lg-offset-2
      = raw @qr_code
    .col-lg-7.col-lg-offset-1.manual-instructions
      %h3 无法扫描代码？

      %p
        选择手动输入账户请在手机应用上输入下列明细内容。

      %dl
        %dt 账户
        %dd= current_user.email
      %dl
        %dt 密钥
        %dd= current_user.otp_secret.scan(/.{4}/).join(' ')
      %dl
        %dt 基于时间
        %dd 是
  .form-group
    = label_tag :pin_code, 'Pin 码', class: "control-label"
    .col-lg-10
      = text_field_tag :pin_code, nil, class: "form-control", required: true, autofocus: true
  .form-actions
    = submit_tag '提交', class: 'btn btn-success'
