%tr.commit_status
  %td.status
    - if commit_status.target_url
      = link_to commit_status.target_url, class: "ci-status ci-#{commit_status.status}" do
        = ci_icon_for_status(commit_status.status)
        = ci_status_zh(commit_status.status)
    - else
      = ci_status_with_icon(commit_status.status)

  %td.commit_status-link
    - if commit_status.target_url
      = link_to commit_status.target_url do
        %strong ##{commit_status.id}
    - else
      %strong ##{commit_status.id}

    - if commit_status.show_warning?
      %i.fa.fa-warning.text-warning

  - if defined?(commit_sha) && commit_sha
    %td
      = link_to commit_status.short_sha, namespace_project_commit_path(commit_status.project.namespace, commit_status.project, commit_status.sha), class: "monospace"
      
  %td
    - if commit_status.ref
      = link_to commit_status.ref, namespace_project_commits_path(commit_status.project.namespace, commit_status.project, commit_status.ref)
    - else
      .light 无

  - if defined?(runner) && runner
    %td
      - if commit_status.try(:runner)
        = runner_link(commit_status.runner)
      - else
        .light 无

  - if defined?(stage) && stage
    %td
      = commit_status.stage

  %td
    = commit_status.name

    .pull-right
      - if commit_status.tags.any?
        - commit_status.tags.each do |tag|
          %span.label.label-primary
            = tag
      - if commit_status.try(:trigger_request)
        %span.label.label-info 被触发
      - if commit_status.try(:allow_failure)
        %span.label.label-danger 允许失败

  %td.duration
    - if commit_status.duration
      #{duration_in_words(commit_status.finished_at, commit_status.started_at)}

  %td.timestamp
    - if commit_status.finished_at
      %span #{time_ago_with_tooltip(commit_status.finished_at)}

  - if defined?(coverage) && coverage
    %td.coverage
      - if commit_status.try(:coverage)
        #{commit_status.coverage}%

  %td
    .pull-right
      - if current_user && can?(current_user, :download_build_artifacts, commit_status.project) && commit_status.download_url
        = link_to commit_status.download_url, title: '下载附件' do
          %i.fa.fa-download
      - if current_user && can?(current_user, :manage_builds, commit_status.project)
        - if commit_status.active?
          - if commit_status.cancel_url
            = link_to commit_status.cancel_url, method: :post, title: '取消' do
              %i.fa.fa-remove.cred
        - elsif defined?(allow_retry) && allow_retry && commit_status.retry_url
          = link_to commit_status.retry_url, method: :post, title: '重试' do
            %i.fa.fa-repeat
