%h3.page-title 需要认证
%main{:role => "main"}
  %p.h4
    允许
    %strong.text-info= @pre_auth.client.name
    使用你的账号么？
  - if @pre_auth.scopes
    #oauth-permissions
      %p 此应用将用于:
      %ul.text-info
        - @pre_auth.scopes.each do |scope|
          %li= t scope, scope: [:doorkeeper, :scopes]
  %hr/
  .actions
    = form_tag oauth_authorization_path, method: :post do
      = hidden_field_tag :client_id, @pre_auth.client.uid
      = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
      = hidden_field_tag :state, @pre_auth.state
      = hidden_field_tag :response_type, @pre_auth.response_type
      = hidden_field_tag :scope, @pre_auth.scope
      = submit_tag "认证", class: "btn btn-success wide pull-left"
    = form_tag oauth_authorization_path, method: :delete do
      = hidden_field_tag :client_id, @pre_auth.client.uid
      = hidden_field_tag :redirect_uri, @pre_auth.redirect_uri
      = hidden_field_tag :state, @pre_auth.state
      = hidden_field_tag :response_type, @pre_auth.response_type
      = hidden_field_tag :scope, @pre_auth.scope
      = submit_tag "拒绝", class: "btn btn-danger prepend-left-10"