= form_for @application_setting, url: admin_application_settings_path, html: { class: 'form-horizontal fieldset-form' } do |f|
  - if @application_setting.errors.any?
    #error_explanation
      .alert.alert-danger
        - @application_setting.errors.full_messages.each do |msg|
          %p= msg

  %fieldset
    %legend 可见性与访问控制
    .form-group
      = f.label :default_branch_protection, '默认保护分支', class: 'control-label col-sm-2'
      .col-sm-10
        = f.select :default_branch_protection, options_for_select(Gitlab::Access.protection_options, @application_setting.default_branch_protection), {}, class: 'form-control'
    .form-group.project-visibility-level-holder
      = f.label :default_project_visibility, '默认项目可见度', class: 'control-label col-sm-2'
      .col-sm-10
        = render('shared/visibility_radios', model_method: :default_project_visibility, form: f, selected_level: @application_setting.default_project_visibility, form_model: Project)
    .form-group.project-visibility-level-holder
      = f.label :default_snippet_visibility, '默认代码片段可见度', class: 'control-label col-sm-2'
      .col-sm-10
        = render('shared/visibility_radios', model_method: :default_snippet_visibility, form: f, selected_level: @application_setting.default_snippet_visibility, form_model: PersonalSnippet)
    .form-group
      = f.label :restricted_visibility_levels, '限制的可见等级', class: 'control-label col-sm-2'
      .col-sm-10
        - data_attrs = { toggle: 'buttons' }
        .btn-group{ data: data_attrs }
          - restricted_level_checkboxes('restricted-visibility-help').each do |level|
            = level
        %span.help-block#restricted-visibility-help 选择的等级将无法用于非管理用户的项目和代码片段
    .form-group
      = f.label :import_sources, '导入来源', class: 'control-label col-sm-2'
      .col-sm-10
        - data_attrs = { toggle: 'buttons' }
        .btn-group{ data: data_attrs }
          - import_sources_checkboxes('import-sources-help').each do |source|
            = source
        %span.help-block#import-sources-help
          项目创建时可用的代码导入来源。GitHub
          = link_to "(?)", help_page_path("integration", "github")
          、Bitbucket
          = link_to "(?)", help_page_path("integration", "bitbucket")
          和 GitLab.com
          = link_to "(?)", help_page_path("integration", "gitlab")
          必须先配置好 OmniAuth。
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :version_check_enabled do
            = f.check_box :version_check_enabled
            开启版本检查
    .form-group
      = f.label :admin_notification_email, '管理员通知邮箱', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :admin_notification_email, class: 'form-control'
        .help-block
          滥用举报会使用此邮箱发送邮件。滥用举报总是在管理区域可用。

  %fieldset
    %legend 账户与限制设置
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :gravatar_enabled do
            = f.check_box :gravatar_enabled
            开启 Gravatar 头像
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :twitter_sharing_enabled do
            = f.check_box :twitter_sharing_enabled, :'aria-describedby' => 'twitter_help_block'
            开启推特
          %span.help-block#twitter_help_block 显示分享按钮，用于分享用户最新创建的公开或内部项目到推特
    .form-group
      = f.label :default_projects_limit, '默认项目限制', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :default_projects_limit, class: 'form-control'
    .form-group
      = f.label :max_attachment_size, '最大附件大小 (MB)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :max_attachment_size, class: 'form-control'
    .form-group
      = f.label :session_expire_delay, '会话保留时间 (分钟)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :session_expire_delay, class: 'form-control'
        %span.help-block#session_expire_delay_help_block 要应用此变更需要重启 GitLab
    .form-group
      = f.label :user_oauth_applications, '用户 OAuth 应用', class: 'control-label col-sm-2'
      .col-sm-10
        .checkbox
          = f.label :user_oauth_applications do
            = f.check_box :user_oauth_applications
            允许用户注册使用 GitLab 为 OAuth 提供者的应用

  %fieldset
    %legend 登入限制
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :signup_enabled do
            = f.check_box :signup_enabled
            开启注册
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :signin_enabled do
            = f.check_box :signin_enabled
            开启登入
    .form-group
      = f.label :restricted_signup_domains, '注册限制域名', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :restricted_signup_domains_raw, placeholder: 'domain.com', class: 'form-control'
        .help-block 用户使用的电子邮箱地址后缀必须匹配这些域名才能注册。泛域名可用。使用英文逗号分隔多个域名。比如：domain.com, *.domain.com
    .form-group
      = f.label :home_page_url, '主页链接', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :home_page_url, class: 'form-control', placeholder: 'http://company.example.com', :'aria-describedby' => 'home_help_block'
        %span.help-block#home_help_block 未登录用户将会重定向到此页面
    .form-group
      = f.label :after_sign_out_path, '退出后路径', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :after_sign_out_path, class: 'form-control', placeholder: 'http://company.example.com', :'aria-describedby' => 'after_sign_out_path_help_block'
        %span.help-block#after_sign_out_path_help_block 用户退出后将会重定向到此页面
    .form-group
      = f.label :sign_in_text, '登入文字', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :sign_in_text, class: 'form-control', rows: 4
        .help-block Markdown 可用
    .form-group
      = f.label :help_page_text, '帮助页面文字', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_area :help_page_text, class: 'form-control', rows: 4
        .help-block Markdown 可用

  %fieldset
    %legend 持续集成
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :shared_runners_enabled do
            = f.check_box :shared_runners_enabled
            为新项目默认开启共享 runner

    .form-group
      = f.label :max_artifacts_size, '最大附件大小 (MB)', class: 'control-label col-sm-2'
      .col-sm-10
        = f.number_field :max_artifacts_size, class: 'form-control'

  %fieldset
    %legend Spam 与防机器人保护
    .form-group
      .col-sm-offset-2.col-sm-10
        .checkbox
          = f.label :recaptcha_enabled do
            = f.check_box :recaptcha_enabled
            开启 reCAPTCHA
          %span.help-block#recaptcha_help_block 用于阻止创建账户机器人

    .form-group
      = f.label :recaptcha_site_key, 'reCAPTCHA Site Key', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :recaptcha_site_key, class: 'form-control'
        .help-block
          在后面的网址生成网站密钥 (Site Key) 和私钥 (Private Key)：
          %a{ href: 'http://www.google.com/recaptcha', target: 'blank'} http://www.google.com/recaptcha
    .form-group
      = f.label :recaptcha_private_key, 'reCAPTCHA Private Key', class: 'control-label col-sm-2'
      .col-sm-10
        = f.text_field :recaptcha_private_key, class: 'form-control'

  .form-actions
    = f.submit '保存', class: 'btn btn-primary'
