%ul.nav.nav-tabs.search-filter
  - if @project
    %li{class: ("active" if @scope == 'blobs')}
      = link_to search_filter_path(scope: 'blobs') do
        = icon('code fw')
        %span
          代码
          %span.badge
            = @search_results.blobs_count
    %li{class: ("active" if @scope == 'issues')}
      = link_to search_filter_path(scope: 'issues') do
        = icon('exclamation-circle fw')
        %span
          问题
          %span.badge
            = @search_results.issues_count
    %li{class: ("active" if @scope == 'merge_requests')}
      = link_to search_filter_path(scope: 'merge_requests') do
        = icon('tasks fw')
        %span
          合并请求
          %span.badge
            = @search_results.merge_requests_count
    %li{class: ("active" if @scope == 'milestones')}
      = link_to search_filter_path(scope: 'milestones') do
        = icon('clock-o fw')
        %span
          里程碑
          %span.badge
            = @search_results.milestones_count
    %li{class: ("active" if @scope == 'notes')}
      = link_to search_filter_path(scope: 'notes') do
        = icon('comments fw')
        %span
          评论
          %span.badge
            = @search_results.notes_count
    %li{class: ("active" if @scope == 'wiki_blobs')}
      = link_to search_filter_path(scope: 'wiki_blobs') do
        = icon('book fw')
        %span
          维基
          %span.badge
            = @search_results.wiki_blobs_count
    %li{class: ("active" if @scope == 'commits')}
      = link_to search_filter_path(scope: 'commits') do
        = icon('history fw')
        %span
          提交
          %span.badge
            = @search_results.commits_count

  - elsif @show_snippets
    %li{class: ("active" if @scope == 'snippet_blobs')}
      = link_to search_filter_path(scope: 'snippet_blobs', snippets: true, group_id: nil, project_id: nil) do
        = icon('code fw')
        %span
          代码片段内容
          %span.badge
            = @search_results.snippet_blobs_count
    %li{class: ("active" if @scope == 'snippet_titles')}
      = link_to search_filter_path(scope: 'snippet_titles', snippets: true, group_id: nil, project_id: nil) do
        = icon('book fw')
        %span
          标题和文件名
          %span.badge
            = @search_results.snippet_titles_count

  - else
    %li{class: ("active" if @scope == 'projects')}
      = link_to search_filter_path(scope: 'projects') do
        = icon('bookmark fw')
        %span
          项目
          %span.badge
            = @search_results.projects_count
    %li{class: ("active" if @scope == 'issues')}
      = link_to search_filter_path(scope: 'issues') do
        = icon('exclamation-circle fw')
        %span
          问题
          %span.badge
            = @search_results.issues_count
    %li{class: ("active" if @scope == 'merge_requests')}
      = link_to search_filter_path(scope: 'merge_requests') do
        = icon('tasks fw')
        %span
          合并请求
          %span.badge
            = @search_results.merge_requests_count
    %li{class: ("active" if @scope == 'milestones')}
      = link_to search_filter_path(scope: 'milestones') do
        = icon('clock-o fw')
        %span
          里程碑
          %span.badge
            = @search_results.milestones_count

