- page_title "#{params[:from]}...#{params[:to]}"
= render "projects/commits/header_title"
= render "projects/commits/head"


.gray-content-block
  = render "form"

- if @commits.present?
  .prepend-top-default
    = render "projects/commits/commit_list"
    = render "projects/diffs/diffs", diffs: @diffs, project: @project
- else
  .light-well.prepend-top-default
    .center
      %h4
        没有内容需要比较。
      %p.slead
        - if params[:to] == params[:from]
          %span.label-branch #{params[:from]}
          与
          %span.label-branch #{params[:to]}
          内容一致。
        - else
          需要选择不同的分支用于比较。
