- status_class = @ci_commit ? " ci-#{@ci_commit.status}" : nil

= form_for [:merge, @project.namespace.becomes(Namespace), @project, @merge_request], remote: true, method: :post, html: { class: 'accept-mr-form js-requires-input' } do |f|
  = hidden_field_tag :authenticity_token, form_authenticity_token
  .accept-merge-holder.clearfix.js-toggle-container
    .clearfix
      .accept-action
        - if @ci_commit && @ci_commit.active?
          %span.btn-group
            = button_tag class: "btn btn-create js-merge-button merge_when_build_succeeds" do
              构建成功时合并
            = button_tag class: "btn btn-success dropdown-toggle", 'data-toggle' => 'dropdown' do
              %span.caret
              %span.sr-only
                选择合并瞬间
            %ul.js-merge-dropdown.dropdown-menu.dropdown-menu-right{ role: 'menu' }
              %li
                = link_to "#", class: "merge_when_build_succeeds" do
                  = icon('check fw')
                  构建成功时合并
              %li
                = link_to "#", class: "accept_merge_request" do
                  = icon('warning fw')
                  立即合并
        - else
          = f.button class: "btn btn-create btn-grouped js-merge-button accept_merge_request #{status_class}" do
            接受合并请求
      - if @merge_request.can_remove_source_branch?(current_user)
        .accept-control.checkbox
          = label_tag :should_remove_source_branch, class: "remove_source_checkbox" do
            = check_box_tag :should_remove_source_branch
            删除来源分支
      .accept-control.right
        = link_to "#", class: "modify-merge-commit-link js-toggle-button" do
          = icon('edit')
          修改提交信息
    .js-toggle-content.hide.prepend-top-default
      = render 'shared/commit_message_container', params: params,
          text: @merge_request.merge_commit_message,
          rows: 14, hint: true

    = hidden_field_tag :merge_when_build_succeeds, "", autocomplete: "off"

  :javascript
    $('.accept-mr-form').on('ajax:send', function() {
      $(".accept-mr-form :input").disable();
    });

    $('.accept_merge_request').on('click', function() {
      $('.js-merge-button').html("<i class='fa fa-spinner fa-spin'></i> 正在合并");
    });

    $('.merge_when_build_succeeds').on('click', function() {
      $("#merge_when_build_succeeds").val("1");
    });

    $('.js-merge-dropdown a').on('click', function(e) {
      e.preventDefault();
      $(this).closest("form").submit();
    });
