- page_title    "代码片段"
- header_title  "代码片段", dashboard_snippets_path

= render 'dashboard/snippets_head'

.gray-content-block
  .pull-right
    = link_to new_snippet_path, class: "btn btn-new", title: "新代码片段" do
      = icon('plus')
      新代码片段

  .btn-group.btn-group-next.snippet-scope-menu
    = link_to dashboard_snippets_path, class: "btn btn-default #{"active" unless params[:scope]}" do
      全部
      %span.badge
        = current_user.snippets.count

    = link_to dashboard_snippets_path(scope: 'are_private'), class: "btn btn-default #{"active" if params[:scope] == "are_private"}" do
      私有
      %span.badge
        = current_user.snippets.are_private.count

    = link_to dashboard_snippets_path(scope: 'are_internal'), class: "btn btn-default #{"active" if params[:scope] == "are_internal"}" do
      内部
      %span.badge
        = current_user.snippets.are_internal.count

    = link_to dashboard_snippets_path(scope: 'are_public'), class: "btn btn-default #{"active" if params[:scope] == "are_public"}" do
      公开
      %span.badge
        = current_user.snippets.are_public.count

= render 'snippets/snippets'

