.btn-group.tree-btn-group
  = link_to '原文件', namespace_project_raw_path(@project.namespace, @project, @id),
      class: 'btn btn-sm', target: '_blank'
  -# only show normal/blame view links for text files
  - if blob_viewable?(@blob)
    - if current_page? namespace_project_blame_path(@project.namespace, @project, @id)
      = link_to '普通视图', namespace_project_blob_path(@project.namespace, @project, @id),
          class: 'btn btn-sm'
    - else
      = link_to '审查', namespace_project_blame_path(@project.namespace, @project, @id),
          class: 'btn btn-sm' unless @blob.empty?
  = link_to '历史', namespace_project_commits_path(@project.namespace, @project, @id),
      class: 'btn btn-sm'
  = link_to '永久链接', namespace_project_blob_path(@project.namespace, @project,
      tree_join(@commit.sha, @path)), class: 'btn btn-sm'

- if blob_editable?(@blob)
  .btn-group{ role: "group" }
    = edit_blob_link(@project, @ref, @path)
    %button.btn.btn-default{ 'data-target' => '#modal-upload-blob', 'data-toggle' => 'modal' } 替换
    %button.btn.btn-remove{ 'data-target' => '#modal-remove-blob', 'data-toggle' => 'modal' } 删除
- elsif !on_top_of_branch?
  .btn-group{ role: "group" }
    %button.btn.btn-default.disabled.has_tooltip{title: "You can only edit files when you are on a branch.", data: {container: 'body'}} 编辑
    %button.btn.btn-default.disabled.has_tooltip{title: "You can only replace files when you are on a branch.", data: {container: 'body'}} 替换
    %button.btn.btn-remove.disabled.has_tooltip{title: "You can only delete files when you are on a branch.", data: {container: 'body'}} 删除
