#modal-remove-blob.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title 删除 #{@blob.name}

      .modal-body
        = form_tag namespace_project_blob_path(@project.namespace, @project, @id), method: :delete, class: 'form-horizontal js-replace-blob-form js-requires-input' do
          = render 'shared/new_commit_form', placeholder: "删除 #{@blob.name}"

          .form-group
            .col-sm-offset-2.col-sm-10
              = button_tag '删除文件', class: 'btn btn-remove btn-remove-file'
              = link_to "取消", '#', class: "btn btn-cancel", "data-dismiss" => "modal"

:javascript
  new NewCommitForm($('.js-replace-blob-form'))
