#modal-upload-blob.modal
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{href: "#", "data-dismiss" => "modal"} ×
        %h3.page-title #{title}
      .modal-body
        = form_tag form_path, method: method, class: 'js-upload-blob-form form-horizontal' do
          .dropzone
            .dropzone-previews.blob-upload-dropzone-previews
              %p.dz-message.light
                拖放文件到此处或者
                = link_to '点击上传', '#', class: "markdown-selector"
          %br
          .dropzone-alerts{class: "alert alert-danger data", style: "display:none"}

          = render 'shared/new_commit_form', placeholder: placeholder

          .form-actions
            = button_tag button_title, class: 'btn btn-small btn-create btn-upload-file', id: 'submit-all'
            = link_to "取消", '#', class: "btn btn-cancel", "data-dismiss" => "modal"

:javascript
  disableButtonIfEmptyField($('.js-upload-blob-form').find('.js-commit-message'), '.btn-upload-file');
  new BlobFileDropzone($('.js-upload-blob-form'), '#{method}');
  new NewCommitForm($('.js-upload-blob-form'))
