- page_title "持续集成", "图表"
= render "header_title"
= render 'head'
.gray-content-block.append-bottom-default
  .oneline
    持续集成图表集合

#charts.ci-charts
  .row
    .col-md-6
      = render 'projects/graphs/ci/overall'
    .col-md-6
      = render 'projects/graphs/ci/build_times'

  %hr
  = render 'projects/graphs/ci/builds'
