= render 'shared/commit_message_container', placeholder: placeholder

- unless @project.empty_repo?
  .form-group.branch
    = label_tag 'new_branch', '目标分支', class: 'control-label'
    .col-sm-10
      = text_field_tag 'new_branch', @new_branch || tree_edit_branch, required: true, class: "form-control js-new-branch"

      .js-create-merge-request-container
        .checkbox
          - nonce = SecureRandom.hex
          = label_tag "create_merge_request-#{nonce}" do
            = check_box_tag 'create_merge_request', 1, true, class: 'js-create-merge-request', id: "create_merge_request-#{nonce}"
            从此提交开启<strong>新合并请求</strong>

  = hidden_field_tag 'original_branch', @ref, class: 'js-original-branch'
