.panel.panel-default
  .panel-heading
    %strong #{@project.name}
    项目成员
    %small
      (#{members.count})
    .pull-right
      = form_tag namespace_project_project_members_path(@project.namespace, @project), method: :get, class: 'form-inline member-search-form'  do
        .form-group
          = search_field_tag :search, params[:search], { placeholder: '使用名称查找已存在的成员', class: 'form-control', spellcheck: false }
        = button_tag class: 'btn', title: '搜索' do
          = icon("search")
  %ul.content-list
    - members.each do |project_member|
      = render 'project_member', member: project_member

:javascript
  $('form.member-search-form').on('submit', function (event) {
    event.preventDefault();
    Turbolinks.visit(this.action + '?' + $(this).serialize());
  });
