.project-issuable-filter
  .controls
    - if can?(current_user, :create_wiki, @project)
      = link_to '#modal-new-wiki', class: "add-new-wiki btn btn-new", "data-toggle" => "modal" do
        %i.fa.fa-plus
        新页面

      = render 'projects/wikis/new'

  %ul.center-top-menu
    = nav_link(html_options: {class: params[:id] == 'home' ? 'active' : '' }) do
      = link_to '主页', namespace_project_wiki_path(@project.namespace, @project, :home)

    = nav_link(path: 'wikis#pages') do
      = link_to '页面', namespace_project_wiki_pages_path(@project.namespace, @project)

    = nav_link(path: 'wikis#git_access') do
      = link_to namespace_project_wikis_git_access_path(@project.namespace, @project) do
        Git 访问
