- page_title "历史记录", @page.title.capitalize, "维基"
= render "header_title"

= render 'nav'
.gray-content-block
  %h3.page-title
    = link_to @page.title, namespace_project_wiki_path(@project.namespace, @project, @page)
    %span.light 历史记录

.table-holder
  %table.table
    %thead
      %tr
        %th 页面版本
        %th 作者
        %th 提交信息
        %th 最后更新
        %th 格式
    %tbody
      - @page.versions.each_with_index do |version, index|
        - commit = version
        %tr
          %td
            = link_to project_wiki_path_with_version(@project, @page,
                                                     commit.id, index == 0) do
              = truncate_sha(commit.id)
          %td
            = commit.author.name
          %td
            = commit.message
          %td
            #{time_ago_with_tooltip(version.authored_date)}
          %td
            %strong
              = @page.page.wiki.page(@page.page.name, commit.id).try(:format)
