- page_title "里程碑"
- header_title group_title(@group, "里程碑", group_milestones_path(@group))

.project-issuable-filter
  .controls
    - if can?(current_user, :admin_milestones, @group)
      .pull-right
        %span.pull-right.hidden-xs
          = link_to new_group_milestone_path(@group), class: "btn btn-new" do
            = icon('plus')
            新里程碑

  = render 'shared/milestones_filter'

.gray-content-block
  只有来自
  %strong #{@group.name}
  群组的里程碑显示在这里。

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block 没有里程碑显示
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
