- reporter = abuse_report.reporter
- user = abuse_report.user
%tr
  %td
    - if reporter
      = link_to reporter.name, reporter
    - else
      (已删除)
  %td
    = abuse_report.created_at.to_s(:short)
  %td
    = abuse_report.message
  %td
    - if user
      = link_to user.name, user
    - else
      (已删除)
  %td
    - if user
      = link_to '删除用户和举报', admin_abuse_report_path(abuse_report, remove_user: true),
        data: { confirm: "确定要删除 #{user.name} 用户么？" }, remote: true, method: :delete, class: "btn btn-xs btn-remove js-remove-tr"

  %td
    - if user
      = link_to '禁用用户', block_admin_user_path(user), data: {confirm: '确定要禁用用户么？'}, method: :put, class: "btn btn-xs"
    = link_to '删除举报', [:admin, abuse_report], remote: true, method: :delete, class: "btn btn-xs btn-close js-remove-tr"
