.md-area
  .md-header.clearfix
    %ul.center-top-menu
      %li.active
        %a.js-md-write-button(href="#md-write-holder" tabindex="-1")
          编写
      %li
        %a.js-md-preview-button(href="#md-preview-holder" tabindex="-1")
          预览

  %div
    .md-write-holder
      = yield
    .md.md-preview-holder.hide
      .js-md-preview{class: (preview_class if defined?(preview_class))}

  - if defined?(referenced_users) && referenced_users
    %div.referenced-users.hide
      %span
        = icon('exclamation-triangle')
        你添加了
        %strong
          %span.js-referenced-users-count 0
          人
        到此讨论。请谨慎行事。
