.detail-page-header
  .status-box{ class: status_box_class(@merge_request) }
    = @merge_request.state_human_name
  %span.identifier
    合并请求 ##{@merge_request.iid}
  %span.creator
    &middot;
    由 #{link_to_member(@project, @merge_request.author, size: 24)} 开启
    &middot;
    = time_ago_with_tooltip(@merge_request.created_at)
    - if @merge_request.updated_at != @merge_request.created_at
      %span
        &middot;
        = icon('edit', title: '编辑时间')
        = time_ago_with_tooltip(@merge_request.updated_at, placement: 'bottom')

  .issue-btn-group.pull-right
    - if can?(current_user, :update_merge_request, @merge_request)
      - if @merge_request.open?
        = link_to '关闭', merge_request_path(@merge_request, merge_request: { state_event: :close }), method: :put, class: 'btn btn-grouped btn-close', title: '关闭合并请求'
        = link_to edit_namespace_project_merge_request_path(@project.namespace, @project, @merge_request), class: 'btn btn-grouped issuable-edit', id: 'edit_merge_request' do
          %i.fa.fa-pencil-square-o
          编辑
      - if @merge_request.closed?
        = link_to '重新打开', merge_request_path(@merge_request, merge_request: {state_event: :reopen }), method: :put, class: 'btn btn-grouped btn-reopen reopen-mr-link', title: '重新打开合并请求'
