%tr.build
  %td.status
    = ci_status_with_icon(commit.status)
    - if commit.running?
      &middot;
      = commit.stage


  %td.build-link
    = link_to ci_status_path(commit) do
      %strong #{commit.short_sha}

  %td.build-message
    %span= truncate_first_line(commit.git_commit_message)

  %td.build-branch
    - unless @ref
      %span
        - commit.refs.each do |ref|
          = link_to truncate(ref, length: 25), ci_project_path(@project, ref: ref)

  %td.duration
    - if commit.duration > 0
      #{time_interval_in_words commit.duration}

  %td.timestamp
    - if commit.finished_at
      %span #{time_ago_in_words commit.finished_at}之前

  - if commit.coverage
    %td.coverage
      #{commit.coverage}%
