- content_for :note_actions do
  - if can?(current_user, :update_merge_request, @merge_request)
    - if @merge_request.open?
      = link_to '关闭', merge_request_path(@merge_request, merge_request: {state_event: :close }), method: :put, class: "btn btn-grouped btn-close close-mr-link js-note-target-close", title: "关闭合并请求"
    - if @merge_request.closed?
      = link_to '重新打开', merge_request_path(@merge_request, merge_request: {state_event: :reopen }), method: :put, class: "btn btn-grouped btn-reopen reopen-mr-link js-note-target-reopen", title: "重新打开合并请求"

#notes= render "projects/notes/notes_with_form"
